mixin colorItem(extraClass, head, value)
	.colors__color-item.color-item
		.color-item__color(class=extraClass)
		.color-item__desc
			h2.color-item__name= head
			.color-item__text= value

mixin typeItem(head, desc)
	.type__type-item.type-item
		.type-item__head(class= head)= head
		.type-item__text
			if head === 'body'
				- head = 'p'
			#{head}= desc
		